<section>
    <!-- 03 page start -->
    <div id="page">
        <div id="about" class="pageControl"></div>
        <div class="experince-container-fluid">
            <div class="container">
                <div class="section-box-container">
                    <div class="experince-header"><span class="experince-header-set">About Us</span></div>
                    <div class="about-container">
                        <div class="about-me-section">
                            <div class="about-text">
                                Welcome to HelpEarth, a website dedicated to providing reliable and comprehensive information about climate change and its effects on our planet. Our mission is to educate and inspire individuals to take action in the fight against climate change.
                            </div>
                            <div class="about-text">     
                            At HelpEarth, we believe that climate change is one of the most critical issues facing our planet today. We are committed to providing the latest news, scientific research, and educational resources to help individuals understand the impact of climate change on our environment, economy, and society.
                            </div>
                            <div class="about-text">
                                Our website provides a wealth of information about climate change, including the causes and effects of global warming, the latest climate research, and solutions for reducing greenhouse gas emissions. We also provide practical tips on how individuals can reduce their carbon footprint and live a more sustainable lifestyle.
                            </div>
                            <div class="about-text">
                                In addition to our informative content, we also provide links to other websites and organizations that share our goal of fighting climate change. These resources provide additional information and tools to help individuals take action and make a positive impact on our planet.
     </div>
                            <div class="about-text">
                               
Thank you for visiting HelpEarth, and we hope that our website inspires you to join us in the fight against climate change.
</div>
                            
         
                        </div>
                        <div class="img-section">
                          <img src="assets/about.jpg">
                        </div>
                    </div>                      
                </div>

            </div>

        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>

    var swiper2 = new Swiper('.swiper2', {
    effect:"coverflow",
            direction: 'horizontal',
            loop: true,
            autoplay: {               
            disableOnInteraction: false,
            pauseOnMouseEnter: true,             
            },
            pagination: {
            el: ".swiper-pagination1",
            clickable:true,
            },
            coverflowEffect:{
                slideShadows: false,
                rotate:20,
                scale:0.70,
            }
           
    });   


</script>