

<div class="container">
	<div class="screen">
		<div class="screen__content">
            
			<form class="login" [formGroup]="form" (ngSubmit)="onSubmit()">
                <h4 style="color: azure; text-align: center;">Login Form</h4>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" formControlName="username" style="padding-left: 5px;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" formControlName="password" style="padding-left: 5px;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
				<button class="button login__submit" [disabled]="loading"  style="text-align: center;color:black; padding-left: 100px;">
					<span  *ngIf="loading" class=" button__text spinner-border spinner-border-sm mr-1" style="color:black"></span>
					Login
				</button>	
                <a style="color: white; padding-top: 25px;" routerLink="../register" class="btn btn-link">Register Here.........</a>			
			</form>
			
		</div>
		<div class="screen__background">
			
		</div>		
	</div>
</div>